body{
    background-color: #333;
    color: #333;
    font-family: "Arial";
    text-align: center;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

#cabecera{
    background: rgb(13,9,84);
    background: linear-gradient(14deg, rgba(13,9,84,1) 0%, rgba(4,4,110,1) 41%, rgba(50,130,255,1) 100%);;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}

#cabecera #logo{
    width: 20px;
    vertical-align: middle;

}

#cabecera #tagline{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

#container{
    background-color: white;
    width:70%;
    padding: 0;
    text-align: left;
    border: 1px solid #000;
    margin: 0 auto;
}

#container h1{
    font-size: 20px;
}

#post {
    padding: 1em;
}

#footer{
    background: rgb(46,46,47);
    background: linear-gradient(180deg, rgba(46,46,47,1) 0%, rgba(42,42,45,1) 41%, rgba(45,47,48,1) 100%);
    padding: 1em;
    color: white;
    text-align: center;
    font-size: 13px;
}

